@model IEnumerable<Product>
@{
    ViewData["Title"] = "Featured Products";
}

<h1>Featured Products</h1>
<br />
<br />
<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td><a href="/Products/Details/@product.ProductName">@product.ProductName</a></td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </tr>
    }
</table>
<br />
[<b>start time:</b>@ViewData["StartTime"]]
[<b>execution time:</b>@ViewData["ExecutionTime"]]