@model List<KeyValuePair<string, string>>

@{
    ViewData["Title"] = "Home Page";
}

<script>
    window.post = function (url, data) {
        let fullUrl = window.location + url;
        console.log(fullUrl);
        return fetch(url, { method: "POST", headers: { 'Content-Type': 'application/json' }, body: data });
    }

    window.postData = function () {
        post("/data", "arg=database()");
    }

    window.postJson2 = function (url, data) {
        let fullUrl = window.location + url;
        console.log(fullUrl);
        return fetch(url, { 
            method: "POST", 
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded'
            }, 
            body: data
        });
    }
    
    window.getWithHeaders = function (url, headers) {
        return fetch(url, { method: 'GET', headers: headers, credentials: 'same-origin' });
    }

    window.GetCookieData = function (cookie1, cookie2, url) {
        document.cookie = cookie1;
        document.cookie = cookie2;
        return fetch(url, { method: 'GET',headers: {'Content-Type': 'application/json'}, credentials: 'same-origin'});
    }

        window.GetCookieHeaderData = function (cookie, headerName, headerValue, headerName2, headerValue2, url) {
        document.cookie = cookie;
        let headers = {
            'Content-Type': 'application/json',
            [headerName]: headerValue,
            [headerName2]: headerValue2
        };
        return fetch(url, { method: 'GET', headers: headers, credentials: 'same-origin' });
    }

</script>

<div>
    <h1>Welcome to .Net Core Weblog</h1>

    <div>@System.IO.Directory.GetCurrentDirectory()</div>

    <div><a href="/health">GET /health</a></div>

    <div><span>Reflected XSS: </span><a href="/?q=%3Cscript%3Ealert%2810%29%3C%2Fscript%3E">GET /?q=&lt;script&gt;alert(10)&lt;%2Fscript&gt;</a></div>
    <div><a href="/render/test!">GET /render/{str}</a></div>

    <div>
        <p><a href="/posts/1">GET /posts/1</a></p>
        <ul>
            <li><a href="/posts/1 OR 1=1">GET /posts/1 OR 1=1</a></li>
            <li><a href="/posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]">GET /posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]</a></li>
            <li><a href="/posts/1?xss_message=%22value%22">GET /posts/1?xss_message="value"</a></li>
        </ul>
    </div>

    <div><a href="javascript:postData()">POST /data</a></div>

    <div><a href="/?arg=database()">GET /?arg=database()</a></div>

    <div><a href="/?[$ne]=arg">GET /?[$ne]=arg</a></div>

    <div> <a href="/login.php">GET /login.php > 404 rules</a></div>

	<div><a href="/Iast/HardcodedSecrets">GET /Iast/HardcodedSecrets</a></div>

    <div><a href="/Iast/WeakHashing">GET /Iast/WeakHashing</a></div>

    <div><a href="/Iast/SqlQuery?query=SELECT%20Surname%20from%20Persons%20where%20name%20=%20%27Vicent%27">GET Iast/SqlQuery?query=SELECT%20Surname%20from%20Persons%20where%20name%20=%20%27Vicent%27</a></div>

    <div><a href="/Iast/ExecuteCommand?file=nonexisting.exe&argumentLine=;process2&fromShell=true">GET /Iast/ExecuteCommand?file=nonexisting.exe&argumentLine=;process2&fromShell=true</a></div>

    <div><a href="/Iast/GetFileContent?file=/nonexisting.txt">GET /Iast/GetFileContent?file=/nonexisting.txt</a></div>

    <div><a href="javascript:post('/Iast/ExecuteQueryFromBodyText','&quot;SELECT Surname from Persons where name=\'Vicent\'&quot;')">POST /Iast/ExecuteQueryFromBodyText</a></div>

    <div><a href="javascript:post('/Iast/ExecuteQueryFromBodyQueryData', '{%22InnerQuery%22: {%22Arguments%22: [%22SELECT Surname from Persons where name=\'Vicent\'%22]}, %22Query%22: %22SELECT Surname from Persons where name=\'Vicent\'%22,%22QueryNotUsed%22: %22SELECT Surname from Persons where name=\'Vicent\'%22,%22IntField%22: 1,%22Arguments%22: [%22SELECT Surname from Persons where name=\'Vicent\'%22, %22SELECT Surname from Persons where name=\'Mark\'%22],%22StringMap%22: {%22query1%22: %22SELECT Surname from Persons where name=\'Vicent\'%22,%22query2%22: %22SELECT Surname from Persons where name=\'Vicent\'%22},%22StringArrayArguments%22: [%22SELECT Surname from Persons where name=\'Vicent\'%22, %22SELECT Surname from Persons where name=\'Mark\'%22]}')">POST /Iast/ExecuteQueryFromBodyQueryData</a></div>

    <div><a href="#" onclick="postJson2('/DataRazorIastPage', 'property=Execute&property3=2&Property2=nonexisting.exe')">POST Razor</a></div>

    <div><a href="javascript:GetCookieData('file=value1','argumentLine=value2','/Iast/ExecuteCommandFromCookie')">GET /ExecuteCommandFromCookie</a></div>

    <div><a href="/Iast/InsecureCookie">GET /Iast/InsecureCookie</a></div>

    <div><a href="/Iast/NoHttpOnlyCookie">GET /Iast/NoHttpOnlyCookie</a></div>

    <div><a href="/Iast/NoSameSiteCookie">GET /Iast/NoSameSiteCookie</a></div>

    <div><a href="/Iast/AllVulnerabilitiesCookie">GET /Iast/AllVulnerabilitiesCookie</a></div>

    <div><a href="/Iast/Ssrf?url=http://www.google.com">GET /Iast/Ssrf?url=http://www.google.com</a></div>

    <div><a href="/Iast/Ldap?path=LDAP://ldap.forumsys.com:389/dc=example,dc=com">GET /Iast/Ldap?path=LDAP://ldap.forumsys.com:389/dc=example,dc=com</a></div>

    <div><a href="/Iast/WeakRandomness">GET /Iast/WeakRandomness</a></div>

	<div><a href="/Iast/TBV?name=name&value=value">GET /Iast/TrustBoundaryViolation</a></div>

    <div><a href="/Iast/StrictTransportSecurity?contentType=text/html&returnCode=200&hstsHeaderValue=max-age=-10;value&xForwardedProto=https">GET /Iast/HstsHeader?contentType=text/html&returnCode=200&hstsHeaderValue=invalid&xForwardedProto=https</a></div>

	<div><a href="/Iast/UnvalidatedRedirect?param=value">GET /Iast/UnvalidatedRedirect</a></div>

    <div><a href="/Iast/StackTraceLeak">GET /Iast/StackTraceLeak</a></div>

    <div><a href="/Iast/XpathInjection?user=James&password=Smith">GET /Iast/XpathInjection</a></div>

    <div><a href="javascript:GetCookieHeaderData('file=value1', 'name', 'myName', 'value', 'myValue', '/Iast/HeaderInjection')">GET /HeaderInjection</a></div>

    <div><a href="/Iast/NoSqlQueryMongoDb?price=42">GET /Iast/NoSqlQueryMongoDb</a></div>

    <div><a href="/Iast/TypeReflectionInjection/?type=System.String">GET /Iast/ReflectionInjection [Type: System.String]</      a></div>
    
    <div><a href="/Iast/NewtonsoftJsonParseTainting?json=%7B%22key%22%3A%20%22value%22%7D">GET /Iast/NewtonsoftJsonParseTainting [Vuln CommandExecution]</a></div>

    <div><a href="javascript:getWithHeaders('/Iast/InsecureAuthProtocol', {'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ=='})">GET /Iast/InsecureAuthProtocol [Basic Scheme]</a></div>
    
	<div><a href="/Iast/ReflectedXss/?param=<script>alert('Reflected XSS Injection!')</script>">GET /Iast/ReflectedXss </a></div>

	<div><a href="/Iast/ReflectedXssEscaped/?param=<script>alert('Reflected XSS Injection!')</script>">GET /Iast/ReflectedXssEscaped with INJECTION</a></div>

	<div><a href="/Iast/ReflectedXssEscaped/?param=Normal Texxt">GET /Iast/ReflectedXssEscaped with normal text</a></div>

	<div><a href="/Iast/StoredXss/">GET /Iast/StoredXss </a></div>

	<div><a href="/Iast/StoredXssEscaped/">GET /Iast/StoredXssEscaped with INJECTION</a></div>

	<div><a href="/Iast/StoredSqli/">GET /Iast/StoredSqli </a></div>
    
    <div><a href="/Iast/JsonParseTainting?json=%7B%22key%22%3A%20%22value%22%7D">GET /Iast/JsonParseTainting [Vuln CommandExecution]</a></div>
    
    <div><a href="/Iast/NHibernateQuery?username=test">GET /Iast/NHibernateQuery [SQL Injection on NHibernate]</a></div>

	<div><a href="/Iast/CustomAttribute?userName=test">GET /Iast/CustomAttribute [Custom Instrumentation with Attribute]</a></div>
	
	<div><a href="/Iast/CustomManual?userName=test">GET /Iast/CustomManual [Custom Instrumentation with Manual Span Creation]</a></div>

    <div><a href="/Iast/email">GET /Iast/email</a></div>

    <div>
        @Html.Raw(Context.Request.Query["q"])
    </div>

    <div>&nbsp;</div>

</div>

<div class="container">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="row">Runtime</th>
                <td>@(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)</td>
            </tr>
            <tr>
                <th scope="row">Process architecture</th>
                <td>@(System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture)</td>
            </tr>
            <tr>
                <th scope="row">Profiler attached</th>
                <td>@ViewBag.ProfilerAttached</td>
            </tr>
            <tr>
                <th scope="row">Datadog.Trace.dll path</th>
                <td>@(ViewBag.TracerAssemblyLocation ?? "(not found)")</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div>Environment Variables:</div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var envVar in Model)
                {
                    <tr>
                        <th scope="row">@envVar.Key</th>
                        <td>@envVar.Value</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">(empty)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
