@model List<KeyValuePair<string, string>>

@{
    ViewData["Title"] = "Home Page";
}

<script>
    window.post = function (url, data) {
        let fullUrl = window.location + url;
        console.log(fullUrl);
        return fetch(url, { method: "POST", headers: { 'Content-Type': 'application/json' }, body: data });
    }

    window.postData = function () {
        post("/data", "arg=database()");
    }
</script>

<div>
    <h1>Welcome to .Net Core Weblog</h1>

    <div>@System.IO.Directory.GetCurrentDirectory()</div>

    <div><a href="/health">GET /health</a></div>

    <div><span>Reflected XSS: </span><a href="/?q=%3Cscript%3Ealert%2810%29%3C%2Fscript%3E">GET /?q=&lt;script&gt;alert(10)&lt;%2Fscript&gt;</a></div>

    <div><a href="/render/test!">GET /render/{str}</a></div>

    <div>
        <p><a href="/posts/1">GET /posts/1</a></p>
        <ul>
            <li><a href="/posts/1 OR 1=1">GET /posts/1 OR 1=1</a></li>
            <li><a href="/posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]">GET /posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]</a></li>
            <li><a href="/posts/1?xss_message=%22value%22">GET /posts/1?xss_message="value"</a></li>
        </ul>
    </div>

    <div><a href="javascript:postData()">POST /data</a></div>

    <div><a href="/?arg=database()">GET /?arg=database()</a></div>

    <div><a href="/?arg=[$slice]">GET /?arg=[$slice]</a></div>

    <div><a href=""></a></div>

    <div>
        @Html.Raw(Context.Request.Query["q"])
    </div>

    <div>&nbsp;</div>

</div>

<div class="container">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="row">Runtime</th>
                <td>@(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)</td>
            </tr>
            <tr>
                <th scope="row">Process architecture</th>
                <td>@(System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture)</td>
            </tr>
            <tr>
                <th scope="row">Profiler attached</th>
                <td>@ViewBag.ProfilerAttached</td>
            </tr>
            <tr>
                <th scope="row">Datadog.Trace.dll path</th>
                <td>@(ViewBag.TracerAssemblyLocation ?? "(not found)")</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div>Environment Variables:</div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var envVar in Model)
                {
                    <tr>
                        <th scope="row">@envVar.Key</th>
                        <td>@envVar.Value</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">(empty)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
