<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Samples.AspNetMvc5</title>
</head>
<body>
    <div>
        <main>
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>Samples.AspNetMvc5</div>
        <div>Bitness: @(Environment.Is64BitProcess ? "64-bit" : "32-bit")</div>
        <div>Profiler attached: @Datadog.Trace.ClrProfiler.Instrumentation.ProfilerAttached</div>
    </footer>
</body>
</html>
