@model List<KeyValuePair<string, string>>
@using System.Linq

@{
    ViewData["Title"] = "Home Page";
}

<script>
    window.post = function (url, data) {
        let fullUrl = window.location + url;
        console.log(fullUrl);
        return fetch(url, { method: "POST", headers: { 'Content-Type': 'application/json' }, body: data });
    }

    window.postData = function () {
        post("/data", "{\"field\": \"1.0\"}");
    }

    window.GetCookieData = function (cookie1, cookie2, url) {
        document.cookie = cookie1;
        document.cookie = cookie2;
        return fetch(url, { method: 'GET', headers: { 'Content-Type': 'application/json' }, credentials: 'same-origin' });
    }

    window.GetCookieHeaderData = function (cookie, headerName, headerValue, headerName2, headerValue2, url) {
        document.cookie = cookie;
        let headers = {
            'Content-Type': 'application/json',
            [headerName]: headerValue,
            [headerName2]: headerValue2
        };
        return fetch(url, { method: 'GET', headers: headers, credentials: 'same-origin' });
    }

</script>

<div class="container">
    <h1>Welcome to .Net Weblog</h1>

    <div>
        @Html.ActionLink("Health", "Index", "Health")
    </div>

    <div>
        @Html.ActionLink("GET /?q=&lt;script&gt;alert(10)&lt;%2Fscript&gt;", "Index", new { q = new HtmlString("<script>alert(10)</script>") })
    </div>

    <div>
        @Html.ActionLink("GET /render/{str}", "Index", "Render", new { str = "test!" }, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/WeakHashing", "WeakHashing", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/InsecureCookie", "InsecureCookie", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/NoHttpOnlyCookie", "NoHttpOnlyCookie", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/NoSameSiteCookie", "NoSameSiteCookie", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/AllVulnerabilitiesCookie", "AllVulnerabilitiesCookie", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/SafeCookie", "SafeCookie", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/SqlQuery/{username}", "SqlQuery", "iast", new { username = "Vicent" }, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/WeakRandomness", "WeakRandomness", "iast", null, null)
    </div>

    <div>
        @Html.ActionLink("GET /iast/QueryOwnUrl", "QueryOwnUrl", "iast", null, null)
    </div>

    <div><a href="/Iast/TBV?name=name&value=value">GET /Iast/TrustBoundaryViolation</a></div>

    <div><a href="/Iast/UnvalidatedRedirect?param=value">GET /Iast/UnvalidatedRedirect</a></div>

    <div><a href="/Iast/StackTraceLeak">GET /Iast/StackTraceLeak</a></div>

    <div><a href="/Iast/ReflectedXss/?param=<script>alert('Injection!')</script>">GET /Iast/ReflectedXss </a></div>

    <div><a href="javascript:GetCookieData('file=value1','argumentLine=value2','/Iast/ExecuteCommandFromCookie')">GET /ExecuteCommandFromCookie</a></div>

    <div><a href="javascript:GetCookieHeaderData('file=value1', 'name', 'myName', 'value', 'myValue', '/Iast/HeaderInjection')">GET /HeaderInjection</a></div>

    <div><a href="/Iast/ReflectedXssEscaped/?param=<script>alert('Injection!')</script>">GET /Iast/ReflectedXssEscaped with INJECTION</a></div>

    <div><a href="/Iast/ReflectedXssEscaped/?param=Normal Texxt">GET /Iast/ReflectedXssEscaped with normal text</a></div>

    <div>
        <p>
            @Html.ActionLink("GET /posts/{id}", "Index", "Posts", new { id = "1" }, null)

        </p>
        <ul>
            <li>
                @Html.ActionLink("GET /posts/{id}", "Index", "Posts", new { id = "1 OR 1=1" }, null)
            </li>
            <li><a href="/posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]">GET /posts/1 UNION SELECT 1, [UserName], [PasswordHash] FROM [AspNetUsers]</a></li>
            <li><a href="/posts/1?xss_message=%22value%22">GET /posts/1?xss_message="value"</a></li>
        </ul>
    </div>

    <div><a href="javascript:postData()">POST /data</a></div>

    <div>@Html.ActionLink("GET /?arg=database()", "Index", new { arg = "database()" });</div>
    <div> <a href="@(Url.Action("Index", "Home"))?[$ne]=arg">GET /?[$ne]=arg</a></div>
    <div> <a href="@(Url.Action("Params", "Health", new {id = "appscan_fingerprint"}))">GET /Health/Params/appscan_fingerprint</a></div>
    <div> <a href="health/wp-config">GET /wp-config > 404 rules</a></div>

    <div>
        @Html.Raw(Context.Request["q"])
    </div>

    <div>&nbsp;</div>

</div>

<div class="container">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="row">Application bitness</th>
                <td>@(Environment.Is64BitProcess ? "64-bit" : "32-bit")</td>
            </tr>
            <tr>
                <th scope="row">Profiler attached</th>
                <td>@Samples.SampleHelpers.IsProfilerAttached()</td>
            </tr>
            <tr>
                <th scope="row">Datadog.Trace.dll path</th>
                <td>@Samples.SampleHelpers.GetTracerAssemblyLocation()</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div>Environment Variables:</div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var envVar in Model)
                {
                    <tr>
                        <th scope="row">@envVar.Key</th>
                        <td>@envVar.Value</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">(empty)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
